# setting files
.env

# hidden files
.hidden

# libaray
libs/js/billboard
libs/js/datatables
libs/js/devextreme
libs/js/magnific-popup
libs/js/swiper-4.5.0
libs/js/validation
# libs/js/chart.js
#libs/js/sheetjs
#libs/js/filesaver
#libs/js/jquery

libs/php/PHPExcel
libs/php/PHPMailer

# etc
.git
.idea
.svn
